body {
	padding: 0;
}


/* Navbar */

.container-fluid {
	padding: 0;
}

header {
	width: 100%;
	position: fixed;
	background-color: red;
	line-height: 0;
}

#logo {
	width: 12em;
	animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

#links {
	padding-top: 44px;
}

#profile, #others {
	padding-top: 32px;
}

#links li a i {
	font-size: 1.6em;
	color: white;
	margin-right: 6px;
	margin-left: 6px;
}

#links li:hover {
	opacity: 0.7;
	transition: .8s ease;
}

.btn {
	margin: 10px;
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
	font-size: 1.2em;
}

.btn:hover {
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
	opacity: 0.8;
	transition: .8s ease;
}

/* Main */

#main {
	margin-top : 150px;
}